<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>確認借用資訊</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:      #FCFCFC;">
      <a class="navbar-brand">E.SUN</a>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('search') }}">公物查詢</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('borrow') }}">公物借用</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('sendback') }}">公物歸還</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">login</a>
          </li>
        </ul>
      </div>
  </nav>
    <div class="container">
        <br>
        <div class="col-sm-6" style="float:none;margin:auto;">
            <form method="POST">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">借用者員編</label>
                    <div class="col-sm-8">
                      <p type="text" class="form-control-plaintext" id="uid">{{ session['borrow_uid'] }} {{ session['borrow_uname'] }}</p>
                    </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">物品類別</label>
                  <div class="col-sm-8">
                    <p type="text" class="form-control-plaintext" id="product_category"></p>
                  </div>
              </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">物品名稱</label>
                  <div class="col-sm-8">
                    <p type="text" class="form-control-plaintext" id="product_name" ></p>
                  </div>
                </div>                
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">借用日期</label>
                    <div class="col-sm-8">
                      <p type="text" class="form-control-plaintext" id="borrow_date"> {{ borrow_dt_info }}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">借用天數</label>
                    <div class="col-sm-8">
                      <!-- <input type="integer" class="form-control-plaintext" id="staticEmail" name="borrow_days"> -->
                      <select type="integer" class="form-control-plaintext" id="borrow_days" name="borrow_days">
                        <option value="">請選擇借用天數</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">物品條碼</label>
                    <div class="col-sm-8">
                      <input type="text" placeholder="請使用條碼機" class="form-control-plaintext" id="item_code" name="item_code" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8" >
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="submit" onclick="location.href='borrow_result'">
                        <p type="text" style="color:#C0392B" name="warning"> {{ warn }}</p>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

    <script>
        // 取得URL
        var url = location.href;
        url = decodeURIComponent(url);   //將已編碼的字符串進行解碼
        //取得問號之後的值
        var temp = url.split("?");
        //將值再度分開
        var vars = temp[1].split("&");
        //一一顯示出來
        var prodInfo = []; 
  
        for (var i = 0; i < vars.length; i++) {
          // 用1個 Arrary (list) 或 Object ( dict ) 儲存資料
          prodInfo.push(vars[i]);
        };
        // 呈現在網頁上
        document.getElementById("product_category").innerHTML = prodInfo[1];
        document.getElementById("product_name").innerHTML =prodInfo[2];
    </script>    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
  </body>
</html>